.Mui-focused .MuiOutlinedInput-notchedOutline {
  border: 1px solid black !important;
}

.MuiOutlinedInput-root .MuiAutocomplete-input {
  color: black;
}

.MuiOutlinedInput-root .MuiAutocomplete-input::placeholder {
  opacity: 0.6;
}