// Sass variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
@import "active_admin_flat_skin";
@import "font-awesome";

// Overriding any non-variable Sass must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

#header.header {
  width: 200px;

  #tabs.header-item.tabs li {
    margin-bottom: 8px !important;

    a {
      height: auto;
    }
  }
}

#active_admin_content {
  width: 100%;

  &.without_sidebar,
  &.with_sidebar {
    width: calc(100% - 200px);
  }
}

#title_bar.title_bar {
  width: calc(100% - 200px);
}

form.filter_form {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

form.filter_form .filter_form_field {
  width: 49%;
}

form.filter_form .filter_form_field.select_and_search select {
  width: 49%;
}

form.filter_form .filter_form_field.filter_date_range input[type="text"] {
  width: 49%;
}

form.filter_form .filter_form_field.select_and_search input[type="text"] {
  width: 48%;
  margin-left: 2%;
}

form.filter_form .filter_form_field.filter_date_range input[type="text"] + input {
  margin-left: 1%;
  width: 48%;
}

.sidebar_section select {
  width: 100%;
}

html .sidebar_section.panel form .buttons {
  width: 100vh;
}

html form input[type="submit"],
html a.button, html a.button:link,
html a.button:visited {
  background: #F7931E;
}

#header.header .site_title {
  background: #F7931E;
  padding: 2px;
}

#diplay-filter {
  background-color: #F7931E;
  border: solid 1px #F7931E;
}

html #title_bar .action_items a {
  background: #F7931E !important;
}

html #active_admin_content .table_tools_segmented_control li.selected a {
  background-color: #F7931E;
}

html form input[type="submit"]:hover,
html a.button:hover,
html a.button:link:hover,
html a.button:visited:hover,
html #title_bar .action_items a:hover {
  background: #F7931E !important;
}

.panel h3, .sidebar_section.panel h3 {
  color: white !important;
}

html .panel > h3, html .sidebar_section.panel > h3 {
 background: #F7931E;
}

html .download_links a {
  color: #F7931E;
}

.site_title {
  margin-bottom: 2px;
}

table.index_table td {
  padding: 10px 12px 6px 12px;
  vertical-align: middle;
}

html #header ul.tabs > li:hover > a, html #header ul.tabs > li.current > a {
  background: #F7931E;
}

#title_bar .action_items span.action_item > a, #title_bar .action_items span.action_item > .dropdown_menu > a {
  padding: 12px 17px 11px;
}

html #utility_nav li:hover a {
  color: #F7931E !important;
}
